PORT=3000
TZ="Asia/Almaty"
DATABASE_URL="postgresql://postgres:postgrespassword@db:5432/sharing_ploshadka_db?schema=public"
JWT_SECRET="super-secret-jwt-key-sharing-ploshadka-2026"
JWT_EXPIRES_IN="7d"

# TTLock Cloud API Credentials (PRODUCTION BOEVOY MODE)
TTLOCK_MOCK=false
TTLOCK_LOCK_ID="34275770"
TTLOCK_MAC_ADDRESS="BA:38:37:0F:0D:0A"
TTLOCK_CLIENT_ID="4ff25d12b645422e96321c854c9f56a2"
TTLOCK_CLIENT_SECRET="c84465e4a4b15d8cc39fb83eb5a51f88"
TTLOCK_USERNAME="punkoxep@gmail.com"
TTLOCK_PASSWORD="Punkoxep169254131!"
TTLOCK_API_URL="https://api.ttlock.com"

# Cron Settings
CRON_GATEWAY_MONITOR="*/3 * * * *"

# Resend Email Configuration
RESEND_API_KEY="your_resend_api_key_here"
EMAIL_FROM="IGRAEM.KZ <noreply@igraem.kz>"
FRONTEND_URL="https://igraem.kz"
